/* Add additional stylesheets below
-------------------------------------------------- */
h1,#user,td{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body
{
    background-image: url(/assets/images/2.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-color:black;
}


button
{
    margin:10px;
    min-width:100px;
    min-height:33px;
}

.info
{
    color:black;
    font-weight:bold;
    font-size:20px;
    padding:10px;
}

td:first-child {
    border-radius:10px 0px 0px 10px;
}

td:last-child {
    border-radius:0px 10px 10px 0px;
}

.date
{
    font-size:35px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.gameDiv
{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(80, 180, 230, 0.7);
    padding:5px;
}

.selectDiv
{
    min-width:300px;
    border: 2px solid;
    border-radius: 25px;
    background-color: rgba(100, 200, 255, 0.5);
    width:85%;
    min-height:300px;
    margin:auto;
    padding:10px;
}

.card1
{
    position: relative;
    -webkit-animation: mymove 1.5s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card2
{
    position: relative;
    -webkit-animation: mymove 2s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card3
{
    position: relative;
    -webkit-animation: mymove 2.5s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card4
{
    position: relative;
    -webkit-animation: mymove 3s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card5
{
    position: relative;
    -webkit-animation: mymove 3.5s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#winner
{
    position: relative;
    -webkit-animation: winner 4.5s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: winner 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.EvaluateHeader
{
    position: relative;
    -webkit-animation: mymove2 4s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove2 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 999px;}
    to {left: 0px;}
}

@keyframes mymove {
    from {left: 999px;}
    to {left: 0px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove2 {
    from {color: rgba(0, 0, 0, 0.0);
            font-size:0px;}
    to {color: rgba(225, 215, 0, 1.0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
}

@keyframes mymove2 {
    from {color: rgba(0, 0, 0, 0.0);
    font-size:0px;}
    to {color: rgba(225, 215, 0, 1.0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes winner {
    from {background-color: rgba(120,240,120,0.0);}
    to {background-color: rgba(120,245,120,0.6);}
}

@keyframes winner {
    from {background-color: rgba(120,240,120,0.0);}
    to {background-color: rgba(120,245,120,0.6);}
 }
