<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout "Select USers Page">

<div class="selectDiv" align="center">
    <button type="button" class="btn btn-success" onclick="">Host Game</button>

    <table style="background-color: rgba(10, 10, 20, 0.3); margin:10px;">
        <th style="background-color: rgba(10, 10, 25, 0.3);">
            <thead>
                <td style="color:yellow;">Game1</td>
            </thead>
        </th>
        <tr>
            <td>player1</td>
        </tr>

        <tr>
            <td><button style="min-width:20px; margin:1px;" class="btn btn-success">Join</button> </td>
        </tr>
    </table>

</div>

</@layout.myLayout>