<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.myLayout "Select USers Page">

<script>
    function update()
    {
        $(document).ready(function(){
            $.ajax({
                    url: "/activeGames"
                })
                .done(function( data ) {

                    $('#gameList').html( data );

                    update();
                });
        });
    }
    update();
</script>

<div class="selectDiv" align="center">

    <form method="post" action="/newMultiplayerGame">
        <input hidden type="string" name="user" value=${user}>
        <input id="host" style="min-width:100px;" class="btn btn-success" type="submit" value="Host Game">
    </form>

    <div id="gameList">
        <#include "activeGames.ftl.html"/>
    </div>

</div>

</@layout.myLayout>